*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Colour body */
section {
  min-height: 100vh;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body {
  background-color: #222222;
}

.scroll-down{
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  bottom: 10%;
  border-radius: 50px;
  cursor: pointer;
}

/* create two boxs and remove two sides, creating our arrows*/
.scroll-down::before,
.scroll-down::after{
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  /* animating them to move in and out*/
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
  top: 30%;
  animation-delay: .3s;
}
/*at set progresses throughout their animations, fade them*/
@keyframes scroll-down {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 90%;
  }
  
}


section #tile{
  float: left;
  height: 100%;
  width: 21%;
  padding: 10px;
  margin: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  align-items: center;
  justify-content: center;

}

#sec-2 {
  align-items: top;
}

#sec-1 {
  background-image: url(assets/media/background-filtered.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#eventBanner {
  background-image: url(assets/media/eventsbackground-filtered.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.eventBlockContainer {  
  background-color: #222222;
  position: absolute;
  top: 3vh;
  left: 3vh;
  height: 79vh;
  width: 45vw;
  border-radius: 2vh;
  z-index: 100;
  padding: 2vh;
}

.eventBlockDescription {
  z-index: 101;
}


.eventBlockDescription h1{
  color: #fff;
  font-weight: bold;
  text-align: center;
  
}
.eventBlockDescription h3{
  color: #a9a9a9;
  font-weight: bold;
  text-align: center;
}
.eventBlockDescription p{
  color: #fff;
  text-align: center;
}

.eventBlockTable {
  display: grid;
  z-index: 1000000;
}

.eventBlockTableItem{
  color: #ffffff;
  max-width: 50%;
}
.carousel-control-next {
  z-index: 10000;
}

.carousel-control-prev {
  z-index: 10000;
}

/* EVENTS STYLING*/
.carousel-item {
    /* Make the individual carousel items flexible in size */
    justify-content: center; /* Center the image horizontally within the carousel item */
    align-items: center; /* Center the image vertically within the carousel item */
    height: 90vh;
}
.carousel-item img {
    /* Allow images to scale to their natural size within the flexible carousel items */
    height: 90vh;
    
    object-fit: cover;
}

.carousel-inner {
    /* Ensure the carousel items take up 100% of the height of the carousel container */
    height: 90vh;
}

.carousel-caption{
  z-index: 10000; /*Render above the gradient overlay*/
}

#carouselHolder {
  border-radius: 2vh;
  margin: 5vh;
  overflow: hidden;
  height: 90vh;
  box-shadow: 0 6vh 6vh 0 rgba(0,0,0,0.4);
}
#eventsCarousel {
  height: 90vh;
}

/* .eventsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); Adjust the number of columns as needed 
    gap: 2vw;  Adjust the gap between images 
    padding: 0.5vw;
}
.eventCaption {
  flex: 1;
  width: 100%;
}



.eventCaption #eventTitle {
  font-family: 'Courier New', monospace;
  color: #fff;
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.eventCaption #eventDescription {
  font-family: 'Montserrat', monospace;
  color: #fff;
  font-size: 1.0vw;
  font-weight: 100;
  text-align: center;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.eventCaption #details {
  font-family: 'Montserrat', monospace;
  color: #fff;
  font-size: 1.0vw;
  font-weight: 100;
  text-align: left;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.eventContainer{
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5vh 1vh rgba(0,0,0,0.5);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.eventContainer:hover{
  box-shadow: 0 6vh 6vh 0 rgba(0,0,0,0.4);
  transform: scale(1.1);
  background: linear-gradient(to bottom, rgba(0, 255, 239, 1), rgba(123, 0, 255, 1));
  
}

.eventImage img{
  filter: saturate(0);
  width: 100%;
  max-width: 100%;
  height: auto;
}

.eventContainer:hover img{
  transition: opacity 0.3s ease-in-out;
  filter: saturate(1);
}

.eventsLinks {
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  border-radius: 0.5vh;
  box-shadow: 0 0 5vh 1vh rgba(0,0,0,0.5);
  flex-shrink: 0;
  align-self: flex-end;
}

.eventsLinks img {
  display: block;
  text-align: center;
  height: 5vh;
  margin: 0 auto;

} */

/*IMAGE GRID STYLINGS*/

/* Style the image grid container */
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 0.5vw; /* Adjust the gap between images */
    padding: 0.5vw;
}

@media (max-width: 400px){
  .image-grid {
    grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
    padding: 0;
  }

}
@media (max-width: 400px){
  .image-grid {
    grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
    padding: 0;
  }

}

.image-grid #headshot{
  vertical-align: middle;
  max-width: 24vw;
  height:auto;
  filter: saturate(0%);
  padding: 0;
  margin: 0;
  float: middle;
}

@media (max-width: 600px){
.image-grid #headshot{
  max-width: 49vw;
}
}


.image-container{
  position: relative;
  overflow: hidden;
  
}
.image-container:hover img {
    transform: scale(1.1); /* Adjust the scale factor as needed */
    
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 255, 239, 0.3), rgba(123, 0, 255, 0.5));
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.personText{
  text-align: center;
  padding: 10px;
}

.committeePosition {
  font-family: 'Courier New', monospace;
  color: #fff;
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
}
.name {
  font-family: 'Montserrat', monospace;
  color: #fff;
  font-size: 1vw;
  text-align: center;
}

.instagramlink {
    display: block;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.instagramlink img {
  height: 5vh;
}

.image-container .instagramlink{
  opacity: 1;
}


/*MAIN BANNER STYLINGS*/

.banner {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.banner #splashTitle {
  font-family: 'Courier New', monospace;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  color: #f2f2f2;
  font-size: 72;
  font-weight: bold;
}

.banner #bannerLogo{
  display: block;
  max-height: 25vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.banner h2{
  font-family: 'Montserrat', monospace;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  color: #f2f2f2;
  font-size: 24;
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #222222;
  overflow: hidden;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  top: 0;
  width: 100%
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Courier New', monospace;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background: linear-gradient(45deg, #7b00ff, #00ffef);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
